html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  min-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-top-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-inner-wrapper {
  display: flex;
  justify-content: center;
  background-color: #293449;
}

.main-header-inner {
  width: 940px;

  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  min-height: 42px;
  position: relative;
  background-color: #293449;
}

.main-header-inner:hover {
  background-color: #212a3a;
}

.main-header-inner:hover {
  background-color: #212a3a;
}

.main-header-logo, .site-top-menu, .main-header-logo {
  display: flex;
  flex-shrink: 0;
  /* Временно для сетки */
  background-color: gray;
}

.main-header-logo {
  width: 220px;
  height: 44px;
  background-color: #ee3643;

}

.main-header-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.main-header-logo img {
  padding-top: 13px;
  padding-left: 55px;
  padding-bottom: 13px;

  text-align: center;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.main-navigation {
  width: 940px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation .main-navigation-list a {
  color: white;
}

.site-top-search, .site-top-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  height: 42px;
}

.site-top-search .title {
  width: 45px;
  margin-top: 12px;
  padding-left: 49px;
}

.site-top-search input[type="text"] {
  width: 135px;
  color: white;
  border: 0;
  background-color: #293449;
  margin-top: 10px;
}

.site-top-search input[type="text"]:hover {
  color: white;
  border: 0;
  background-color: #212a3a;
}

.site-top-search input[type="text"]:active {
  color: black;
  border: 0;
  background-color: white;
}

.site-top-search {

  display: flex;
  list-style: none;
  margin-left: 0;
  margin-right: 25px;
}

.site-top-menu ul {
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.site-top-search, .site-top-menu li {
  list-style: none;
  margin-right: 25px;
}

.site-top-search, .site-top-menu li:last-child {
  margin-right: 0;
}

ul.site-top-menu {
  margin: 0;
}

.site-top-menu li {
  text-align: center;
  vertical-align: middle;
  height: 29px;
  width: 150px;
  margin: 0;
  padding-top: 15px;
}

.site-top-menu li.order {
  background-color: #63a63e;
}

.site-top-menu li.order:hover {
  background-color: #5fbb2d;
}

.site-top-menu li.order:active {
  background-color: #518534;
}

.page-header-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f3f7f8;
}

.page-header {
  width: 940px;

  background-color: #f3f7f8;

  display: flex;
  min-height: 158px;
  justify-content: space-between;
  align-items: center;
}

.page-header .slogan {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
  width: 200px;
  padding-left: 54px;
}

.page-header .phone {
  display: inline-block;
  box-sizing: border-box;
  text-align: right;
  width: 264px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 49px;
  margin-bottom: 10px;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid white;
}

.page-header .address {
  font-size: 14px;
  line-height: 23px;
  color: #32425c;
}

.page-header .block-user a {
  box-sizing: border-box;
  font-size: 21px;
  color: black;
  padding: 10px;
  padding-left: 26px;
  padding-right: 26px;
  background-color: white;
}

.block-user a.login {
  padding-left: 49px;
  margin-right: 10px;
}

.page-header .block-user a:hover {
  color: #ee3643;
}

.page-header .block-user a:active {
  color: rgba(0, 0, 0, 0.2);
}

.page-header .block-user .user-name {
  font-size: 21px;
  color: black;
  padding: 10px;
  background-color: white;
}

.page-header .block-user .user-name:active {
  color: rgba(0, 0, 0, 0.3);;
}

.page-header .block-user .profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  padding: 10px;
  background: none;
  text-decoration: underline;
}

.page-header .block-user .profile a:hover {
  color: #ee3643;
}

.page-header .block-user .profile a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation-inner {
  margin-right: 55px;
}

.main-navigation-list {
  display: flex;
  justify-content: space-between;
}

ul.main-navigation-list {
  margin-left: -50px;
}

.main-navigation .main-navigation-list a {
  font-size: 17px;
}

.main-navigation .main-navigation-list li {
  list-style: none;
}

.main-navigation .main-navigation-list li:hover {
  background-color: #293449;
}

.main-navigation .main-navigation-list li:active {
  background-color: #293449;
}

.main-navigation .main-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
}

ul.catalog-list {
  margin-right: 10px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

ul.catalog-list:last-child {
  margin-right: 0px;
}

.catalog-list, .advertising-list {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.catalog-list h3, .advertising-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.catalog-list a, .advertising-item a {
  font-size: 14px;
  line-height: 18px;
}

.slider {
  z-index: 10;
  position: relative;
  width: 620px;
  box-sizing: border-box;
}

.slider-content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.slider-content .hidden {
  display: none;
}

.slider h3 {
  position: inherit;
  z-index: 10;
  font-size: 36px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 2px;
  margin-left: 24px;
  text-transform: uppercase;
}

.slider p {
  margin-top: 5px;
  position: inherit;
  z-index: 10;
  margin-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.slider a {
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  margin-top: 10px;
}

.slider .open-catalog {
  position: absolute;
  top: 205px;
  left: 24px;
  z-index: 10;
  width: 195px;
}

.slider .open-catalog:hover {
  background-color: #ca2c37;
}

.slider .open-catalog:active {
  background-color: #ba2732;
}

.slider-contol {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 24px;

}

button.slider-button-back, button.slider-button-next {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button.slider-button-back {
  z-index: 10;
}

button.slider-button-next {
  z-index: 10;
}

.popular-goods-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  background-color: #f9f5f0;
  height: 90px;
  width: 100%;
}

.popular-goods-all h3 {
  font-size: 30px;
  color: #32425c;
}

.popular-goods-all .all-goods a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.popular-goods-all .popular-goods {
  width: 280px;
  display: inline-block;
  margin-right: 37%;
  margin-left: 30px;
  color: #32425c;
}

.popular-goods-all .all-goods {
  top: 25px;
  margin: 0;
  margin-right: 24px;
  display: inline-block;
  width: 253px;

  vertical-align: middle;
}

.catalog-items .list {
  display: flex;
  margin-left: -50px;
}

.catalog-items .item:nth-child(4) {
  margin-right: 0;
}

.catalog-items .list li {

  width: 198px;

  border: 1px solid gray;
  margin: 10px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  padding: 20px 10px;

}

.catalog-items .item {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-items .item:hover {
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);;
}

.catalog-items .item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.catalog-items .item p, .catalog-items .item span {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.catalog-items .item p {
  color: #999999;
  text-decoration: line-through;
}

.catalog-items .item span {
  color: white;
  background-color: #ee3643;
}

.catalog-items .buttons {
  font-size: 14px;
  line-height: 18px;
}

.catalog-items .buttons button.buy {
  color: white;
  background-color: #63a63e;
}

.catalog-items .buttons button.bookmark {
  color: #32425c;
  background-color: white;
  border-color: #63a63e;
}

.catalog-items .buttons button.bookmark:hover {
  border-color: #518534;
}

.catalog-items .buttons button.bookmark:active {
  color: rgba(193, 198, 206, 0.3);
  border-color: #c1c6ce;
}

.advertising-wrapper {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.catalog-list li.catalog-item, .advertising-list li.advertising-item {
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 20px;
  list-style: none;
  min-height: 123px;
  width: 300px;
  color: white;
}

.catalog-list h3, .advertising-list h3 {
  margin: 0 0 10px 0;
}

.catalog-list li.catalog-item a, .advertising-list .advertising-item a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(41, 52, 73, .1);
}

.catalog-list li.catalog-item a:hover, .advertising-list .advertising-item a:hover {
  background-color: rgba(41, 52, 73, .2);
}

.catalog-list li.catalog-item a:active, .advertising-list .advertising-item a:active {
  background-color: rgba(41, 52, 73, .3);
}

li.catalog-item.material {
  background-color: #ffbf47;
}

li.catalog-item.tool {
  background-color: #3bbce3;
}

li.catalog-item.technique {
  background-color: #dc91d8;
}

li.advertising-item.discount {
  background-color: #8ed78f;
}

li.advertising-item.delivery {
  background-color: #ffc047;
}

.popular-manufacturers {

  background-color: #f9f5f0;
  display: flex;
  width: 100%;
  height: 90px;
}

.popular-manufacturers .title {
  width: 400px;
  height: 200px;
  margin-left: 30px;
}

.popular-manufacturers .link {
  margin: auto 25px auto auto;
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  height: 18px;
  width: 253px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.popular-manufacturers h3 {
  font-size: 30px;
  color: #32425c;
}

.popular-manufacturers a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.service {
  width: 940px;
  color: black;
  background-color: #f4f8f9;
}

.service .description h3 {
  font-size: 30px;
}

.service .description p {
  font-size: 13px;
  line-height: 24px;
}
.service-info {
  display: flex;
  margin-top: 60px;
  justify-content: flex-start;
  flex-shrink: 0;
}
.service-info .hidden {
   display: none;
 }
.service-list {
  margin-right: 80px;
}
.service-list ul {
  margin: 0;
  padding: 0;

}
.service-list li.service-item {
  padding-top: 10px;
  padding-left: 10px;
  list-style: none;
  width: 240px;
  height: 42px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  background-color: #32425c;
  border-bottom: 1px solid gray;

}

.service-list li.service-item.selected {
  color: #32425c;
  background-color: white;
}

h3.service-item-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 36px;
  color: #32425c;
}

p.service-item-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about {
  color: black;
}

.about .description h3 {
  font-size: 30px;
}

.about .description p {
  font-size: 13px;
  line-height: 24px;
}

.about .description .transport-list li {
  font-size: 18px;
  line-height: 20px;
}

.about .description a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.about a.more-info {
  padding-left: 50px;
  padding-right: 50px;
}

.contacts .feedback {
  padding-left: 50px;
  padding-right: 50px;
}

.contacts {
  color: black;

}

.contacts h3 {
  font-size: 30px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: white;

}

.footer-top {
  background-color: #32425c;
}

.footer-top .footer-top-contacts p {
  font-size: 18px;
  line-height: 24px;
}

.footer-top-menu .footer-menu-main .white li {
  display: inline-block;
}

.footer-top-menu .footer-menu-main .white li a {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer-top-menu .footer-menu-main .white li a:hover {
  text-decoration: underline;
}

.footer-top-menu .footer-menu-main .white li a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-top-menu .footer-menu-catalog .yellow li {
  display: inline-block;
}

.footer-top-menu .footer-menu-catalog .yellow li a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-top-menu .footer-menu-catalog .yellow li a:hover {
  text-decoration: underline;
}

.footer-top-menu .footer-menu-catalog .yellow li a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-bottom {
  height: 108px;
  background-color: #293449;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .footer-connect {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .footer-connect a {
  color: #ffd180;
}

.footer-bottom .footer-connect a:hover {
  text-decoration: underline;
}

.footer-bottom .footer-connect a:active {
  text-decoration: none;
  color: #ee3643;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 18px;
}

.main-catalog {
  margin-top: 60px;
}

.catalog h1 {
  font-size: 30px;
  color: #32425c;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
}

.filter .filter-text {
  font-size: 13px;
  line-height: 18px;
}

.filter .filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter .filter-range {
  font-size: 17px;
  line-height: 18px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
}

.filter .filter-items label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter .filter-items label:hover {
}

.filter .filter-items label:active {
  color: rgba(0, 0, 0, 0.4);
}

.filter .filter-buttons {
  font-size: 13px;
  line-height: 18px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
}

.sorting h3 {
  font-size: 13px;
  line-height: 18px;
}

.sorting-items a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-items a:hover {
  color: rgba(0, 0, 0, 1);
}

.sorting-items a:active {
  color: rgba(238, 54, 67, 1);
  text-decoration: none;

}

.sorting-items a.selected {
  color: #ee3643;
  text-decoration: none;
  opacity: 1;
}

.catalog-paginator {
  font-size: 13px;
  line-height: 18px;
}

.catalog-paginator .current {
  background-color: #ee3643;
}

.catalog-paginator a {
  color: black;
}

.catalog-paginator li {
  text-transform: uppercase;
  display: inline;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  border: 1px solid lightgray;
}

.catalog-paginator li:last-child {
  padding-left: 30px;
  padding-right: 30px;;
}

.catalog-paginator li:hover {
  border: 1px solid #bdc6ca;
}

.catalog-paginator li:active {
  border: 1px solid #ee3643;
}

.catalog-description {
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 65px;
}

.catalog-description h2 {
  margin-top: 0;
  font-size: 30px;
  color: black;
}

.catalog-description p {
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.popular-manufacturers-list {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 80px;
}

.popular-manufacturers-list .item:hover {
  box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);;
}

.popular-manufacturers-list .item:active {
  box-shadow: 0 0 7px rgba(122, 122, 122, 0.5);;
}

.popular-manufacturers-list .item img:active {
  opacity: 0.3;
}

.modal-write-us {
  width: 622px;
  display: block;
  color: black;
  border-top: 5px solid red;
  box-shadow: 0 0 35px rgba(122, 122, 122, 0.5);;
}

.modal-write-us .form-input, .modal-write-us .form-text {
  margin: 30px;
}

.modal-write-us .modal-buttons {
  text-align: center;
  background-color: #f4f4f4;
  height: 115px;
}

.modal-write-us .modal-buttons button {
  margin-top: 40px;
  padding: 10px;
  border: 0;
  width: 462px;
  height: 40px;
}

/* ----- Сеточные стили ----- */

.popular-manufacturers-list .list {
  display: flex;
  flex-wrap: wrap;
}

.popular-manufacturers-list ul.list {
  margin: 0;
  margin-left: -50px;
}

.popular-manufacturers-list .item {
  display: block;
  width: 198px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  vertical-align: middle;
}

.popular-manufacturers-list .item:nth-child(4n) {
  margin-right: 0;
}
