body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 15px;
  /*line-height: 24px;*/
  /*font-weight: 700;*/
  color: #ffffff;
  /*text-transform: uppercase;*/

  /*background-color: #000000;*/
  /*background-image: url("img/bg.jpg");*/
  /*background-position: top center;*/
  /*background-repeat: no-repeat;*/
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*font-family: 'PT Sans', sans-serif;*/

.site-top-search, .site-top-menu a {
  font-size: 17px;
  line-height: 18px;
}

.page-header .slogan {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
}

.page-header .phone {
  font-size: 21px;
  color: #ee3643;
}

.page-header .address {
  font-size: 14px;
  line-height: 23px;
}

.page-header .block-user a {
  font-size: 21px;
  color: black;
}

.main-navigation .main-navigation-list a {
  font-size: 17px;
}

.catalog-list h3, .advertising-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

}

.catalog-list a, .advertising-item a {
  font-size: 14px;
  line-height: 18px;
}

.advertising .slider h3 {
  font-size: 36px;
  font-weight: bold;

}

.advertising .slider p {
  font-size: 18px;
  line-height: 24px;
}

.advertising .slider a {
  font-size: 14px;
  line-height: 18px;

}

.popular-goods-all h3 {
  font-size: 30px;
  color: #32425c;

}

.popular-goods-all a {
  font-size: 14px;
  line-height: 18px;
}

.catalog-items .item {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-items .item h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-items .item p, .catalog-items .item span {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.catalog-items .item p {
  color: #999999;
  text-decoration: line-through;
}

.catalog-items .item span {
  color: white;
  background-color: #ee3643;
}

.catalog-items .buttons {
  font-size: 14px;
  line-height: 18px;
}

.catalog-items .buttons .buy {
  color: white;
  background-color: #63a63e;
}

.catalog-items .buttons .bookmark {
  color: black;
}

.popular-manufacturers h3 {
  font-size: 30px;
}

.popular-manufacturers a {
  font-size: 14px;
  line-height: 18px;
}

.service .description h3 {
  font-size: 30px;
}

.service .description p {
  font-size: 13px;
  line-height: 24px;
}

.service-list .service-item li {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.service-item-title h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 36px;
}

.service-item-description p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about {
  color: black;

}

.about .description h3 {
  font-size: 30px;
}

.about .description p {
  font-size: 13px;
  line-height: 24px;
}

.about .description .transport-list li {
  font-size: 18px;
  line-height: 20px;
}

.about .description a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.contacts {
  color: black;

}

.contacts h3 {
  font-size: 30px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: white;

}

.footer-top .footer-top-contacts p {
  font-size: 18px;
  line-height: 24px;
}

.footer-top-menu .footer-menu-main white li {
  font-size: 18px;
  line-height: 24px;
}

.footer-top-menu .footer-menu-main yellow li {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .footer-connect {
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .footer-connect a {
  color: #ffd180;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 18px;
}

.catalog h1 {
  font-size: 30px;
  color: #32425c;
}

.filter {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
}

.filter .filter-text {
  font-size: 13px;
  line-height: 18px;
}

.filter .filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter .filter-range {
  font-size: 17px;
  line-height: 18px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
}

.filter .filter-items label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter .filter-buttons {
  font-size: 13px;
  line-height: 18px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
}

.sorting h3 {
  font-size: 13px;
  line-height: 18px;
}

.sorting-items a {
  font-size: 13px;
  line-height: 18px;
  color: black;
  opacity: 0.3;
}

.sorting-items a.selected {
  color: #ee3643;
  opacity: 1;
}

.catalog-paginator {
  font-size: 13px;
  line-height: 18px;
}

.catalog-paginator .current {
  background-color: #ee3643;
}

.catalog-paginator a {
  color: black;
}

.catalog-description h2 {
  font-size: 30px;
  color: black;
}

.catalog-description p {
  font-size: 13px;
  line-height: 24px;
  color: black;
}
