html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix {
  content: "";
  display: table;
  clear: both
}

.button {
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  min-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: white;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-top-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #293449;
}

.main-header-inner {
  width: 940px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 42px;
  position: relative;
  background-color: #293449;
}

.main-header-inner:hover {
  background-color: #212a3a;
}

.main-header-inner:hover {
  background-color: #212a3a;
}

.main-header-logo, .site-top-menu, .main-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-header-logo {
  width: 220px;
  height: 44px;
  background-color: #ee3643;
}

.main-header-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.main-header-logo img {
  padding-top: 13px;
  padding-left: 55px;
  padding-bottom: 13px;

  text-align: center;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.main-navigation {
  width: 940px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation .main-navigation-list a {
  color: white;
}

.site-top-search, .site-top-menu a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  height: 42px;
}

.site-top-search .lens {
  width: 49px;
  background-image: url("../img/svg-technomart/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center 12px;
  opacity: 0.3;
}

.site-top-search:hover .lens {
  opacity: 1;
}

.site-top-search .lens:active {
  opacity: 0.5;
}

.site-top-search .title {
  width: 45px;
  margin-top: 12px;
}

.site-top-search input[type="text"] {
  width: 135px;
  color: white;
  border: 0;
  background-color: #293449;
  margin-top: 10px;
}

.site-top-search input[type="text"]:hover {
  color: white;
  border: 0;
  background-color: #212a3a;
}

.site-top-search input[type="text"]:active {
  color: black;
  border: 0;
  background-color: white;
}

.site-top-search input[type="text"]:focus {
  color: black;
  border: 0;
  background-color: white;
}

.site-top-search:focus-within {
  color: black;
  background-color: white;
  border: 1px solid white;
}

.site-top-search:focus-within .lens {
  background-image: url("../img/svg-technomart/icon-search-red.svg");
  opacity: 1;
}

.site-top-search:focus-within .title {
  display: none;
}

.site-top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin-left: 0;
  margin-right: 25px;
}

.site-top-menu li.bookmarks {
  background-image: url("../img/svg-technomart/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 13px 16px;
  opacity: 0.3;
}

.site-top-menu li.cart {
  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 13px 16px;
}

.site-top-menu ul {
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.site-top-search, .site-top-menu li {
  list-style: none;
  margin-right: 25px;
}

.site-top-search, .site-top-menu li:last-child {
  margin-right: 0;
}

ul.site-top-menu {
  margin: 0;
}

.site-top-menu li {
  text-align: center;
  vertical-align: middle;
  height: 29px;
  width: 150px;
  margin: 0;
  padding-top: 15px;
}

.site-top-menu li.order {
  background-color: #63a63e;
}

.site-top-menu li.order:hover {
  background-color: #5fbb2d;
}

.site-top-menu li.order:active {
  background-color: #518534;
}

.page-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f3f7f8;
}

.page-header {
  width: 940px;

  background-color: #f3f7f8;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  min-height: 158px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header .slogan {
  font-size: 16px;
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
  width: 200px;
  padding-left: 54px;
}

.page-header .phone {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  width: 264px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-right: 49px;
  margin-bottom: 10px;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid white;
  background: url("../img/svg-technomart/icon-phone.svg") no-repeat 13px 14px;
}

.page-header .address {
  font-size: 14px;
  line-height: 23px;
  color: #32425c;
}

.block-user {
  position: relative;
}

.page-header .block-user a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
  color: black;
  padding: 10px;
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
  /*padding-top: 10px;*/
  background-color: white;
}

.block-user a.login {
  padding-left: 49px;
  margin-right: 10px;

}

.block-user a.login::before {
  content: "";
  opacity: 0.5;
  top: 4px;
  left: 16px;
  bottom: 0;
  right: 135px;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-login.svg") no-repeat;
}

.block-user a.login:hover::before {
  content: "";
  opacity: 1;
  top: 4px;
  left: 16px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-login-blue.svg") no-repeat;
}

.block-user:active a.login::before {
  content: "";
  opacity: 0.2;
  top: 4px;
  left: 16px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-login.svg") no-repeat;
}

.block-user a:hover {
  color: #ee3643;
}

.block-user a.login:active {
  color: #cacaca;
}

.block-user a:active {
  color: rgba(0, 0, 0, 0.2);
}

.block-user .user-name {
  position: relative;
  font-size: 21px;
  color: black;
  padding: 10px;
  background-color: white;
  padding-left: 45px;
}

.block-user .name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.block-user .user-name::before {
  content: "";
  opacity: 0.2;
  top: 13px;
  left: 13px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-user.svg") no-repeat;
}

.block-user .user-name:hover::before {
  content: "";
  opacity: 1;
  top: 13px;
  left: 13px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-user-blue.svg") no-repeat;
}

.block-user:active .user-name::before {
  content: "";
  opacity: 0.3;
  top: 13px;
  left: 13px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-user-blue.svg") no-repeat;
}

.block-user .exit {
  position: relative;
  background-color: white;

  width: 40px;
}

.block-user .user-exit::before {
  content: "";
  opacity: 1;
  top: 14px;
  left: 9px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-logout.svg") no-repeat;
}

.block-user .exit a {
  margin: 0;
  padding: 0;
}

.block-user .user-exit:hover::before {
  content: "";
  opacity: 1;
  top: 14px;
  left: 9px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-logout-blue.svg") no-repeat;
}

.block-user .user-exit:active::before {
  content: "";
  opacity: 0.5;
  top: 14px;
  left: 9px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: url("../img/svg-technomart/icon-logout-blue.svg") no-repeat;
}

.block-user .user-name:active {
  color: rgba(0, 0, 0, 0.3);;
}

.block-user .profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  padding: 10px;
  background: none;
  text-decoration: underline;
}

.block-user .profile a:hover {
  color: #ee3643;
}

.block-user .profile a:active {
  color: rgba(50, 66, 92, 0.3);
}

.block-user .name li {
  list-style: none;
}

.block-user .profile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.block-user .profile li:first-child {
  list-style: none;
  margin-right: 5px;
}

.block-user .profile li {
  margin-left: 15px;
  color: #32425c;
}

.main-navigation-inner {
  margin-right: 55px;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-navigation-inner ul {
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.main-navigation .main-navigation-list a {
  font-size: 17px;
  line-height: 55px;
}

.main-navigation .main-navigation-list li {
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}

.main-navigation .main-navigation-list li:hover {
  background-color: #293449;
}

.main-navigation .main-navigation-list li:active {
  background-color: #293449;
}

.main-navigation .main-navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
}

ul.catalog-list {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

ul.catalog-list:last-child {
  margin-right: 0px;
}

.catalog-list, .advertising-list {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

.catalog-list h3, .advertising-list h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.catalog-list a, .advertising-item a {
  font-size: 14px;
  line-height: 18px;
}

.slider {
  z-index: 10;
  position: relative;
  width: 620px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.slider-content .hidden {
  display: none;
}

.slider h3 {
  position: inherit;
  z-index: 10;
  font-size: 36px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 2px;
  margin-left: 24px;
  text-transform: uppercase;
}

.slider p {
  margin-top: 5px;
  position: inherit;
  z-index: 10;
  margin-left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.slider a {
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: white;
  margin-top: 10px;
}

.slider .open-catalog {
  position: absolute;
  top: 205px;
  left: 24px;
  z-index: 10;
  width: 195px;
}

.slider .open-catalog:hover {
  background-color: #ca2c37;
}

.slider .open-catalog:active {
  background-color: #ba2732;
}

.slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 24px;

}

.slider-control label {
  width: 40px;
  height: 40px;
}

.slider-image {
  display: none;
  background-color: #6a5044;
  width: 620px;
  height: 266px;
}

#slider-item-1 {
  margin-left: -50px;
}

#slider-item-1:checked ~ .slider-content .slider-image:nth-child(1),
#slider-item-2:checked ~ .slider-content .slider-image:nth-child(2) {
  display: block;
}

img.slider-button-back, img.slider-button-next {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 10;
}

.popular-goods-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  vertical-align: middle;
  background-color: #f9f5f0;
  height: 90px;
  width: 100%;
}

.popular-goods-all h3 {
  font-size: 30px;
  color: #32425c;
}

.popular-goods-all .all-goods a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.popular-goods-all .popular-goods {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-right: 37%;
  margin-left: 30px;
  color: #32425c;
}

.popular-goods-all .all-goods {
  top: 25px;
  margin: 0;
  margin-right: 24px;
  display: inline-block;
  vertical-align: middle;
  width: 253px;
}

.catalog-page .catalog {
  padding-bottom: 30px;
}

.catalog-items {
  /*width: 700px;*/
  margin: 20px auto;
}

.catalog-items .product {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-items .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-items .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-items .product .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-items .product .actions .buy,
.catalog-items .product .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-items .product .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-items .product .actions {
  display: none;
}

.catalog-items .product:hover .actions {
  display: block;
}

.catalog-items .product .item-img {
  height: 168px;
}

.catalog-items .product img {
  max-width: 100%;
}

.catalog-items .title {
  color: black;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-items .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-items .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-items .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.main-page .catalog-items .list,
.catalog-page .catalog-items .list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-items ul {
  margin: 0;
  padding: 0;
}

.catalog-items .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page .product:nth-child(4) {
  margin-right: 0;
}

.catalog-page .product:nth-child(3) {
  margin-right: 0;
}

.catalog-items .product li {
  width: 198px;
  border: 1px solid gray;
  margin: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
  padding: 0 10px;
}

.catalog-items .product li:first-child {
  margin-left: 0;
}

.catalog-page .catalog-items .product li {
  margin: 0;
}

.catalog-page .catalog-items .product li {
  margin-bottom: 20px;
}

.catalog-items .product {
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-items .product:hover {
  -webkit-box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);;
}

.catalog-items .product h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: black;
}

.catalog-items .product p, .catalog-items .product span {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.catalog-items .product p {
  color: #999999;
  text-decoration: line-through;
}

.catalog-items .product span {
  color: white;
  background-color: #ee3643;
}

.advertising-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-list li.catalog-item, .advertising-list li.advertising-item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 20px;
  list-style: none;
  min-height: 123px;
  width: 300px;
  color: white;
}

.catalog-list h3, .advertising-list h3 {
  margin: 0 0 10px 0;
}

.catalog-list li.catalog-item a, .advertising-list .advertising-item a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(41, 52, 73, .1);
}

.catalog-list li.catalog-item a:hover, .advertising-list .advertising-item a:hover {
  background-color: rgba(41, 52, 73, .2);
}

.catalog-list li.catalog-item a:active, .advertising-list .advertising-item a:active {
  background-color: rgba(41, 52, 73, .3);
}

li.catalog-item.material {
  position: relative;
  background-color: #ffbf47;
}

li.catalog-item.material::before {
  content: "";
  background: url("../img/svg-technomart/icon-1.svg");
  opacity: 1;
  top: 31px;
  left: 213px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

li.catalog-item.tool {
  position: relative;
  background-color: #3bbce3;
}

li.catalog-item.tool::before {
  content: "";
  background: url("../img/svg-technomart/icon-2.svg");
  opacity: 1;
  top: 31px;
  left: 213px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

li.catalog-item.technique {
  position: relative;
  background-color: #dc91d8;
}

li.catalog-item.technique::before {
  content: "";
  background: url("../img/svg-technomart/icon-3.svg");
  opacity: 1;
  top: 31px;
  left: 191px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

li.advertising-item.discount {
  position: relative;
  background-color: #8ed78f;
}

li.advertising-item.discount::before {
  content: "";
  background: url("../img/svg-technomart/icon-4.svg");
  opacity: 1;
  top: 31px;
  left: 196px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

li.advertising-item.delivery {
  position: relative;
  background-color: #ffc047;
}

li.advertising-item.delivery::before {
  content: "";
  background: url("../img/svg-technomart/icon-5.svg");
  opacity: 1;
  top: 31px;
  left: 191px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

.popular-manufacturers {
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 90px;
}

.popular-manufacturers .title {
  width: 400px;
  margin-left: 30px;
}

.popular-manufacturers .link {
  margin: auto 25px auto auto;
  background-color: #ee3643;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  width: 253px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.popular-manufacturers h3 {
  font-size: 30px;
  color: #32425c;
}

.popular-manufacturers a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f3f7f8;
  padding-bottom: 126px;
}

.service {
  width: 918px;
  color: black;
  background-color: #f4f8f9;
  position: relative;

}

.service .description {
  margin-bottom: 70px;
}

.service .description h3 {
  font-size: 30px;
}

.service .description p {
  font-size: 13px;
  line-height: 24px;
}

.service-block {
  position: relative;
}

.service-info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.service-list {
  margin-right: 80px;
}

.service-item::before {
  content: "";
  position: absolute;
  left: 240px;
  top: -47px;
  width: 10px;
  height: 275px;
  background: url("../img/vertical3.png") no-repeat;

}

ul.service-list {
  margin: 0;
  padding: 0;
}

.service-list .service-item {
  padding-top: 10px;
  padding-left: 10px;
  list-style: none;
  width: 240px;
  height: 42px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  background-color: #32425c;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.service-show {
  position: absolute;
  top: 0;
  left: 300px;
  display: none;
  width: 100%;
  min-height: 284px;
}

#service-item-1:checked ~ .service-info .service-show:nth-child(1),
#service-item-2:checked ~ .service-info .service-show:nth-child(2),
#service-item-3:checked ~ .service-info .service-show:nth-child(3) {
  display: block;
}

#service-item-1:checked ~ .service-list li.service-item:nth-child(1),
#service-item-2:checked ~ .service-list li.service-item:nth-child(2),
#service-item-3:checked ~ .service-list li.service-item:nth-child(3) {
  color: #32425c;
  background-color: white;
}

.service-show:nth-child(1) {
  background: #f2f6f8 url("../img/slider/delivery.png") no-repeat 160px 20px
}

.service-show:nth-child(2) {
  background: #f2f6f8 url("../img/slider/guarantee.png") no-repeat 245px 20px
}

.service-show:nth-child(3) {
  background: #f2f6f8 url("../img/slider/credit.png") no-repeat 170px 20px
}

a.send-request {
  margin-top: 34px;
  padding-left: 41px;
  padding-right: 41px;
}

h3.service-item-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 36px;
  color: #32425c;
}

p.service-item-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 34px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 84px;
  padding: 0;
  padding-top: 80px;
  color: black;
  position: relative;
}

.about .description h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-bottom: 40px;
}

.about .description p {
  font-size: 13px;
  line-height: 24px;
}

.about .description ul {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 0
}

.about .description .transport-list li {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 14px;
  background: url(../img/red-line.png) no-repeat left;
  padding: 3px 0px 4px 36px;
  list-style: none;
}

.about .description a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.about a.more-info {
  padding-left: 50px;
  padding-right: 50px;
}

.contacts .feedback {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.contacts {
  color: black;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 30px;
}

.contact-description {
  font-size: 13px;
  line-height: 24px;
}

.contacts img {
  font-size: 13px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.contacts a {
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.about .hidden {
  display: none;
}

.footer-top-wrapper {
  background-color: #32425c;
  margin: 0;
  padding: 0;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #32425c;
  padding-bottom: 29px;
}

.footer-top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 64px;
  background-color: #ee3643;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 35px;
}

.footer-top-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b52933;
}

.footer-top-logo img {
  height: 21px;
}

p.footer-top-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-menu-main, .footer-menu-catalog {
  margin: 0;
  padding: 0;
}

.footer-menu-main .white, .footer-menu-catalog .yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-menu-main li, .footer-menu-catalog li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin-left: 60px;
  margin-top: 22px;
}

.footer-menu-main li:first-child, .footer-menu-catalog li:first-child {
  margin-left: 0px;
}

.footer-menu-main .white li a {
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.footer-menu-main .white li a:hover {
  text-decoration: underline;
}

.footer-menu-main .white li a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-menu-catalog .yellow li {
  display: inline-block;
  vertical-align: middle;
}

.footer-menu-catalog .yellow li a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-menu-catalog .yellow li a:hover {
  text-decoration: underline;
}

.footer-menu-catalog .yellow li a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-bottom-wrapper {
  margin: 0;
  padding: 0;
  background-color: #293449;
  padding-top: 20px;
  padding-bottom: 19px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #293449;
}

.footer-bottom p {
  font-size: 16px;
  line-height: 18px;
}

.footer-connect {
  font-size: 16px;
  line-height: 18px;
}

.footer-connect ul li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
}

.footer-connect {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 15px;
}

.footer-connect li {
  margin-left: 53px;
}

.footer-connect a {
  color: #ffd180;
}

.footer-connect a:hover {
  text-decoration: underline;
}

.footer-connect a:active {
  text-decoration: none;
  color: #ee3643;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  margin-left: 16px;
  padding: 0;
  padding-top: 20px;
}

.breadcrumbs li {
  padding-left: 5px;
  margin-left: 15px;
  margin-right: 10px;
  list-style-image: url("../img/svg-technomart/icon-right-small.svg");
}

.breadcrumbs li:first-child {
  margin-right: 0;
  padding-left: 5px;
  margin-left: 8px;
  list-style-image: url("../img/svg-technomart/icon-home.svg");
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-catalog {
  margin-top: 60px;
}

.catalog h1 {
  font-size: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  padding-top: 31px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.catalog-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter {
  width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
  margin-right: 20px;
}

.filter hr {
  color: #e5e5e5;
}

.filter .filter-text {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 18px;
}

.filter .filter-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.filter .filter-range {*/
/*text-align: center;*/
/*font-size: 17px;*/
/*line-height: 18px;*/
/*background-color: #f7f3ec;*/

/*padding-top: 14px;*/
/*padding-bottom: 15px;*/
/*padding-left: 18px;*/
/*}*/

.filter .filter-range-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
}

.filter .filter-range-input label {
  padding-top: 14px;
  width: 30px;
  color: #444444;
}

.filter .filter-range-input input {
  border: 0;
  text-align: center;
  background-color: #f7f3ec;
  padding-top: 14px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.filter-range {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 5px 5px;
}

.filter-range .scale {
  height: 2px;

  background: #d7dcde;
}

.filter-range .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter-range .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.filter-range .toggle-min {
  left: 50px;
}

.filter-range .toggle-max {
  left: 100px;
}

.filter fieldset {
  border: 0;
  margin: 0;
}

.filter legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 30px;
}

.filter-item {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.filter-item:hover,
.filter-item:focus {
  color: #663d15;
}

.checkbox-indicator {
  margin: 0;
  padding: 0;
}

.filter-item input[type="checkbox"] + .checkbox-indicator {
  background: url("../img/svg-technomart/checkbox-off.svg");
  opacity: 0.5;
  top: -2px;
  left: -12px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

/*.filter-item input[type="checkbox"]:focus + .checkbox-indicator {*/
/*border-color: #663d15;*/
/*outline: thin dotted;*/
/*outline: 5px auto -webkit-focus-ring-color;*/
/*padding-top: 5px;*/
/*}*/

.filter-item input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/svg-technomart/checkbox-on.svg");
  opacity: 0.5;
  top: -2px;
  left: -12px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

.filter-item input[type="checkbox"]:hover {
  opacity: 0.1;
}

.filter-item input[type="radio"] + .radio-indicator {
  background: url("../img/svg-technomart/radio-off.svg");
  opacity: 0.5;
  top: -2px;
  left: -12px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

.filter-item input[type="radio"]:focus + .radio-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-item input[type="radio"]:checked + .radio-indicator {
  background: url("../img/svg-technomart/radio-on.svg");
  opacity: 0.5;
  top: -2px;
  left: -12px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
}

ul.filter-items {
  margin: 0;
  padding: 0;

}

.filter-items li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 10px;
}

.filter .filter-items label {
  font-size: 15px;
  line-height: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

.filter .filter-items label:hover {
}

.filter .filter-items label:active {
  color: rgba(0, 0, 0, 0.4);
}

.filter .filter-button {
  font-size: 13px;
  line-height: 18px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  width: 140px;
  margin-top: 70px;
  cursor: pointer;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  font-family: "PT Sans", Arial, sans-serif;
  color: black;
  text-transform: uppercase;
  background-color: #f7f3ec;

  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 18px;

}

.sorting h3 {
  font-size: 13px;
  line-height: 18px;
}

.sorting-items a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
  color: rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  margin-right: 30px;
}

.sorting-items a:hover {
  color: rgba(0, 0, 0, 1);
}

.sorting-items a:active {
  color: rgba(238, 54, 67, 1);
  text-decoration: none;

}

.sorting-items a.selected {
  color: #ee3643;
  text-decoration: none;
  opacity: 1;
}

.sorting-text {
  margin-right: 95px
}

.sorting-icons {
  position: relative;
  width: 77px;
}

.sorting-icons .icon-up::before {
  content: "";
  background: url("../img/svg-technomart/icon-up-dir.svg");
  top: 4px;
  left: 16px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting-icons .icon-up:hover::before {
  opacity: 1;
}

.sorting-icons .icon-down::before {
  content: "";
  background: url("../img/svg-technomart/icon-down-dir.svg");
  top: 4px;
  left: 49px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.sorting-icons .icon-down:hover::before {
  opacity: 1;
}

.icon-up.selected::before {
  content: "";
  background: url("../img/svg-technomart/icon-up-dir-red.svg");
  top: 4px;
  left: 16px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  opacity: 1;
}

.icon-down.selected::before {
  content: "";
  background: url("../img/svg-technomart/icon-down-dir-red.svg");
  top: 4px;
  left: 49px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  opacity: 1;
}

.catalog-paginator {
  margin: 0;
  padding: 0;
  margin-top: 45px;
  font-size: 13px;
  line-height: 18px;
}

.catalog-paginator .current {
  background-color: #ee3643;
}

.catalog-paginator a {
  color: black;
}

.catalog-paginator li {
  text-transform: uppercase;
  display: inline;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  border: 1px solid lightgray;
}

.catalog-paginator li:hover {
  border: 1px solid #bdc6ca;
}

.catalog-paginator li:active {
  border: 1px solid #ee3643;
}

.catalog-description-wrapper {
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 65px;
}

.catalog-description {
  font-family: "PT Sans", Arial, sans-serif;
  background: #f2f6f8;
}

.catalog-description h2 {
  margin-top: 0;
  font-size: 30px;
  color: black;
}

.catalog-description p {
  font-size: 13px;
  line-height: 24px;
  color: black;
}

.popular-manufacturers-list {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 80px;
}

.popular-manufacturers-list .item:hover {
  -webkit-box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);
  box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);;
}

.popular-manufacturers-list .item:active {
  -webkit-box-shadow: 0 0 7px rgba(122, 122, 122, 0.5);
  box-shadow: 0 0 7px rgba(122, 122, 122, 0.5);;
}

.popular-manufacturers-list .item img:active {
  opacity: 0.3;
}

/* ----- Сеточные стили ----- */

.popular-manufacturers-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.popular-manufacturers-list ul {
  margin: 0;
  padding: 0;
}

.popular-manufacturers-list ul.list {
  margin: 0;
}

.popular-manufacturers-list .item {
  width: 198px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}

.popular-manufacturers-list .item:first-child {
  margin-left: 0;
}

.popular-manufacturers-list .item:nth-child(5n) {
  margin-left: 0;
}

.popular-manufacturers-list .item:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturers-list li.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-social {
  margin-left: 152px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social ul li {

  margin-left: 10px;
}

.footer-social .vk svg {
  margin-top: 12px;
  margin-left: 7px;
}

.footer-social .fb svg {
  margin-top: 9px;
  margin-left: 13px;
}

.footer-social .instagram svg {
  margin-top: 9px;
  margin-left: 10px;
}

.footer-social a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social a:hover {
  background-color: #ee3643;
}

.modal {
  display: none;
  position: fixed;
}

.modal-show {
  display: block;
}

.modal-product-add {
  top: 120px;
  left: 50%;
  width: 620px;
  min-height: 283px;
  color: black;
  margin-left: -311px;
  border-top: 5px solid red;
  -webkit-box-shadow: 0 0 35px rgba(122, 122, 122, 0.5);
  box-shadow: 0 0 35px rgba(122, 122, 122, 0.5);
  background-color: white;
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
  z-index: 25;
}

.modal-product-add p {
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 30px;
  text-align: center;
}

.modal-product-add p {
  background-image: url("../img/svg-technomart/form-1.svg");
  background-repeat: no-repeat;
  background-position: 80px 30px;
  padding-left: 40px;
}

.modal-product-add .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  min-height: 113px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 14px;
  line-height: 18px;
}

.modal-product-add .order {
  width: 220px;
}

.modal-product-add .continue {
  width: 220px;

  background-color: white;
  color: black;
}

.modal-write-us {
  top: 120px;
  left: 50%;
  width: 622px;
  min-height: 430px;
  color: black;
  margin-left: -311px;
  border-top: 5px solid red;
  -webkit-box-shadow: 0 0 35px rgba(122, 122, 122, 0.5);
  box-shadow: 0 0 35px rgba(122, 122, 122, 0.5);
  background-color: white;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.modal-write-us p {
  margin-bottom: 12px;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;

}

.modal-write-us .modal-buttons {
  text-align: center;
  background-color: #f4f4f4;
  height: 115px;
}

.modal-write-us .modal-buttons button {
  margin-top: 40px;
  padding: 10px;
  border: 0;
  width: 462px;
  height: 40px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 16px;
  left: -38px;

  width: 19px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
}

.modal-fields .form-input {
  margin-top: 56px;
}

.modal-write-us .form-comment {
  margin-top: 24px;
  margin-bottom: 36px;
  margin-left: 80px;
  margin-right: 80px;
}

.modal-write-us input[type="text"],
.modal-write-us textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 2px;

}

.modal-write-us input[type="text"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 218px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.modal-write-us textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 462px;
  height: 110px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.footer-map {
  cursor: pointer;
}

.modal-map {
  background-color: white;
  /*display: none;*/
  width: 940px;
  height: 446px;
  z-index: 20;
  position: absolute;
  border: 0;
  top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);;

}

.about .modal-close::before,
.about .modal-close::after {
  top: 5px;
  left: -0px;
}
